.kdev4/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan-2.69.log
compile
config.*
configure
configure.scan
depcomp
fixsrt.kdev4
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4/
.deps/
*.o
src/fixsrt
fixsrt-*.tar.*
